html
    head
        title   Hello
    body
        ol
            if obj
                each i in obj
                    li=i["id"]
                    li=i["Name"]
                    li=i["EmailID"]
                    li=i["place"]
            else if obj1
                    li=obj1["id"]
                    li=obj1["Name"]
                    li=obj1["EmailID"]
                    li=obj1["place"]